/* Meta-styling, Pages styling, component styling done in individual directories  */

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}


.form-control {
  
  width: 800px;
}

.Contactcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.ContactHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: underline;

}


.textContent, body {
  color: white;
  font-size: large;
 
}

.iconImage {
  width: 100px;
  height: 100px;
  align-items: center;
}

/* Card styling */
.card p {
  color:black;
  text-decoration: underline;
  font-family: fantasy;
}
.card{
  text-align: center;
}

.cardImage {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

#aboutMeHeader {
  text-decoration: underline;
}



.resumeContainer {
  height: 100%;
  width: 100%;

}

.resumecard {
 
  height: 1000px;
  width: 1000px;
}